.Bios
{
    height: 450px;
    background-color: #191919;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Bios_Jogador
{
    text-align: center;
    width: 500px; /* Valor da Largura do elemento */
}

.Foto img
{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.Textos
{
    margin-top: 20px;
    color: #ECECEC;
}
.Textos #Titulo
{
    color: #4053B2;
}