/*Isabelle Nascimento de Oliveira*/

/*Retirando as margins pré-estabelecidas de todo o conteúdo do site*/
*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Alterando a cor de fundo do ementos 'nav' com a função de gradient disponibilizado pelo css*/
nav
{
    background-image: linear-gradient(to right, #3D4584, #2B2B47);
    box-shadow: 0px 0px 25px rgb(27, 27, 27);
    width: 100%;
    position: fixed;
}

/*Alrerando somente os li dentro do ul do nav do site*/
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 20px;
}

/*Alterando a cor e o text-decoration do a do li dentro do ul do nav*/
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 16px;
}

/*Apenas a class "Selecionado" estará recebendo essas salterações, ela ficará em destaque no site para o usuário entender que se encontra nessa tela no momento*/
.Selecionado
{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.185), rgba(0, 0, 0, 0));
}


/*Quando o usuário colocar o mouse em cima do elemento li ele irá sofrer uma animação*/
nav ul li :hover
{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.185), rgba(0, 0, 0, 0));
}