/* Arthur */
.FooterBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 0px 0px 25px rgb(207, 207, 207);
	height: 55px;
	color: #edf7f4;
	background: #373c73;
}

.conteudo {
	display: block;
	padding: 10px;
	margin: 0px auto;
	text-align: center;
	font-family: "Segoe UI", Segoe, sans-serif;
	font-size: 14px;
    width:250px;
}
.copyright {
 display:inline;
    line-height: 20px;
}
